<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @administrator.first_name %> !</h1>
    <p>
      Tu as un nouveau participant pour l'événement <%= @event.title %> : <%= @attendant.first_name %>.
    </p>
    <p> À très vite sur monsite.fr !
  </body>
</html>