<h1>Bienvenue sur le dashboard admin</h1>

<div class="d-flex">
    <%= link_to "Users", admins_users_path, class: "btn btn-primary me-3" %>
    <%= link_to "Events", admins_events_path, class: "btn btn-primary" %>
</div>

