
<h1>Attendances</h1>

<div class="d-flex">
  <%= link_to "Edit this event", edit_event_path(@event), class: "btn btn-primary me-3" %>

  <%= button_to "Destroy this event", @event, method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" } %>
</div>

<div id="attendances">
  <% @attendances.each do |attendance| %>
    <%= render attendance %>

  <% end %>
</div>

